div.dia {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 4px;
    border: solid black 2px;
    text-align: center;
    vertical-align: top;
    line-height: 50px;
  }

.contenidor {
  display: inline-block;
}